src/main/ressources/Film.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://iaws/ws/contractfirst" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="FilmRequest" type="exem:FilmRequestType" xmlns:exem="http://iaws/ws/contractfirst"/>
    <xs:complexType name="FilmRequestType">
        <xs:all>
            <xs:element type="xs:string" name="imdbID"/>
        </xs:all>
    </xs:complexType>
</xs:schema>